@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: var(--button);
  --color-text: var(--text);
  --color-input: var(--input);
}

:root {
  --background: white;
  --foreground: #393e46;
  --button: #2e7d32;
  --input: #e2e2e2;
  --text: #222831;
}

.dark {
  --background: #222831;
  --foreground: #393e46;
  --button: #00e381;
  --input: #2a2a2a;
  --text: white;
}
