@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-muted-text: var(--muted-text);

  --color-primary: var(--primary);
  --color-hover: var(--hover);
  --color-active: var(--active);
  --color-text-on-button: var(--text-on-button);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);

  /* For Categories */
  --color-priority: #ff5e5e;
  --color-Today: #ffbf47;
  --color-Week: #47ffc5;
  --color-Other: #94a3b8;
}

:root {
  --background: #0b1220;
  --foreground: #111a17;
  --border: #1f2b26;

  --primary-text: #eafbf4;
  --secondary-text: #a7b8b0;
  --muted-text: #6c7d75;

  --primary: #00e381;
  --hover: #1af08f;
  --active: #00c86f;
  --text-on-button: #06281a;

  --success: #22c55e;
  --warning: #fbbf24;
  --error: #ef4444;
  --info: #38bdf8;
}

.light {
  /* Background: #F7FAF9
foreground:    #FFFFFF
Border:     #E6EDEA

Primary text:   #0F1720
Secondary text: #475569
Muted text:     #94A3B8

Primary:        #00E381
Hover:          #00C86F
Active:         #00A85D
Text on button: #06281A

Success: #16A34A
Warning: #F59E0B
Error:   #DC2626
Info:    #0EA5E9 */
}

@layer components {
  .input-base {
    @apply bg-foreground border-border rounded-2xl
              h-12 indent-3
              text-primary-text
            
              focus:outline-none
              focus:ring-2
              focus:ring-primary
              focus:border-primary;
  }
}
