@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --color-background: #000000;
  --color-foreground: #0d0d11;
  --color-side-nav-background: #07070a;
  --color-border: #1e1b4b;
  --color-input-background: #050507;
  --color-input-border-ring: #3b82f633;

  --color-header-text: #f3f4f6;
  --color-primary-text: #d1d5db;
  --color-muted-text: #6b7280;
  --color-muted-icon: #9ca3af;

  --color-primary: #a855f7;
  --color-hover: #c084fc;
  --color-focus: #eab308;
  --color-active: #8b5cf6;

  /* --color-button-aura: #38bdf8; */

  /* Status Types */
  --color-text-success: #34d399;
  --color-text-warning: #fb923c;
  --color-text-error: #f87171;
  --color-text-info: #38bdf8;

  /* Expense Categories */
  /* --color-personal: #091e3a;
  --color-transportation: #2b1a04;
  --color-stock: #2e1e05;
  --color-misc: #062c1b; */

  /* Transaction Status */
  --color-text-pending: #fbbf24;
  --color-text-cancelled: #f87171;
}

@layer components {
  .input-base {
    @apply rounded-lg 
    bg-input-background border-b-3 border-border 
    placeholder:text-muted-text text-header-text 
    transition-colors duration-300
    focus:border-primary focus:outline-none focus:ring-2 focus:ring-input-border-ring;
  }
  .button-base {
    @apply cursor-pointer 
    bg-foreground text-primary-text 
    border-2 border-border
    items-center
    transition-all duration-200 ease-in-out 
    hover:bg-hover hover:shadow-[0_0_15px_rgba(168,85,247,0.5)]
      hover:text-background

      focus:outline-2 focus:outline-info focus:outline-offset-1 
      not-hover:outline-none
      active:scale-95;
  }
  .nav-item-base {
    @apply cursor-pointer w-full flex items-center gap-3 px-3 py-2.5 rounded-lg text-sm font-medium transition-all text-muted-text border border-transparent hover:text-header-text hover:bg-white/3;
  }

  .content-container-base {
    @apply flex flex-1 flex-col justify-between min-h-full overflow-hidden;
  }

  .modal-form-base {
    @apply flex flex-col gap-10 text-base h-full overflow-y-scroll;
  }

  .card-list-base {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5;
  }

  .card-container-base {
    @apply bg-foreground border border-border rounded-md;
  }
  /* 
  .step-form-button {
    @apply ;
  } */
}

@layer utilities {
  .task-list-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .task-list-scrollbar::-webkit-scrollbar-track {
    background: var(--color-foreground);
    border: 1px solid var(--active);
    border-radius: 4px;
  }

  .task-list-scrollbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  .task-list-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 4px;
    border: 1px solid #0b1220; /* Creates a "gap" between thumb and track */
  }
}
